.landingContainer {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-family: 'Amiri', serif;
    
    
  }
  
  
  .heroSection {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 45px;
    z-index: 1;
    overflow: hidden;
       background-color: rgba(0, 0, 0, 0.2);
  }
  
  
  .contentSection {
    
    padding: 10px 40px 80px;
    position: relative;
    z-index: 5;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.29);
  }
  
  .mainTitle {
    padding: 120px 0px 0px 0px;
    font-family: 'Amiri', serif;
    color: #fff;
    font-size: 42px;
    font-weight: 950;
    margin-top: -22px;
    margin-left: 221px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    
  }
  .mainTitl {
    
    font-family: 'Amiri', serif;
    color: #fff;
    font-size: 42px;
    font-weight: 950;
    margin-top: -30px;
    margin-left: 155px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
  }
  
  .description {
    color: #fff;
    font-size: 22px;
    width: 30%;
    margin-bottom: 180px;
   margin-left: 126px;
    line-height: 1.6;
    font-weight: 900;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
  
   margin-right: 1200px;
   
   width: 38%;
   
  }
  
  
  .act
  {
     
    width: 30%;
    background-color: #354618;
    color: #F4F6F2;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Amiri', serif;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    margin-top: -80px;
    margin-left: 90px;
  }
  .acti {
    width: 30%;
    background-color: #354618;
    color: #F4F6F2;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Amiri', serif;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: -80px;
    
  }
  
  .acti:hover,
  .act:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .visitorButton:active,
  .professionalButton:active {
    transform: translateY(0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .actionButton {
    
    display: inline-block;
    background-color: #354618;
    color: #F4F6F2;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Amiri', serif;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 40%;
  }
  
  .actionButt {
    
    display: inline-block;
    background-color: #354618;
    color: #F4F6F2;
    margin-left: 50px;
    width: 40%;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Amiri', serif;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .actionButton:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .actionButton:active {
    transform: translateY(0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .actionButt:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .actionButt:active {
    transform: translateY(0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .videoBackground {
    position: absolute;
    margin-left: 134px;
    margin-top: -199px;
    width: 83%;
    height: 94%;
    object-fit: cover;
   
    
    pointer-events: none;
    
  }
  
 
  @media (max-width: 768px) {
    .mainTitle {
      font-size: 32px;
    }
    
    .description {
      font-size: 18px;
    }
    
    .buttonsContainer {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
    
    .actionButton {
      width: 80%;
    }
  }