.containe {
    background-color: #E8EDDE;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 50%;
    
    margin-left: 300px;
    margin-right: 450px;
    margin-top: 120px;
    position: relative; 
    transform: translateY(-20px); 
    
}  


form {
    display: flex;
    flex-direction: column;
    width: 100%;
  
}

h2 {
    font-family: 'Amiri', serif;
    color: #354618;
    font-size: 30px;
    margin-top: 2px;
    font-weight: bold;
    margin-left: 80px;
   
}
h5{
    font-family: 'Amiri', serif;
    color: #000;
    font-size: 24px;
    margin-top: -2px;
    font-weight: normal;
    margin-left: 40px;   
}
.lab{
    font-family: 'Amiri', serif;
    color: #000;
    font-size: 20px;
  
    font-weight: normal;
    margin-left: 100px;  
    margin-top: -40px; 
}
.mot {
    font-family: 'Amiri', serif;
    width: 120%;
    padding: 10px;
    border: 1.4px solid #4a5730;
    border-radius: 10px;
    background-color: #E8EDDE;
    font-size: 18px;
    margin-left: 90px;
    margin-top: -15px;
    
}


.inputs div{
    width: 404px;
    height: 146px;
    border-radius: 10px;
}

.input {
    font-family: 'Amiri', serif;
    width: 70%;
    padding: 11px;
    border: 1.4px solid #4a5730;
    border-radius: 10px;
    background-color: #E8EDDE;
    font-size: 18px;
    margin-left: 86px;
    
}


button {
    width: 330px;
    height: 45px;
    padding: auto;
    background-color: #354618;
    color: #F4F6F2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 190px;
    font-size: 24px;
    font-family: 'Amiri',serif;
    box-shadow: -4px 4px 10px #0000006a;
    
}
button:active{
    box-shadow: none;
}


.loginLink {
     
    
    text-decoration: underline;
    font-size: 16px;
    color: #462A28;
    font-family: 'Amiri', serif;
    margin-left: 420px;
    margin-top: 15px;
}
.inputGroup{
    margin-top:30px ;
}